header {
  background: url('../images/chanteur.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

header p {
  text-align: center;
}

.p-header {
  width: 80%;
}
header h2 {
  font-family: 'Rallifornia';
  color: var(--titre-white);
  line-height: 0;
}

nav {
  background-color: var(--titre-black);
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  margin-right: 15px;
}
nav a {
  text-decoration: none;
  color: var(--titre-white);
}

nav h2 {
  font-family: 'Rallifornia';
  color: var(--titre-white);
  margin-left: 20px;
}

header img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#menu-mobile {
  display: none;
}

#cross-mobile {
  display: none;
}
