nav {
  background-color: #100e0b;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  top: 0;
}

header {
  background: url('../images/chanteur.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 15px;
}
nav a {
  text-decoration: none;
  color: white;
}

nav h2 {
  color: white;
}
