h1 {
  font-size: 30vw;
}

.titre-white {
  margin-top: 6%;
  color: var(--titre-white);
  font-size: 10vw;
  text-transform: uppercase;
}
.titre-black {
  color: var(--titre-black);
  font-size: 10vw;
  text-transform: uppercase;
}

.center {
  flex-direction: column;
}

#presatation-images {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.polaroid img {
  padding: 15px 15px 30px 15px;
}

#socialshare img {
  width: 20vw;
}

#socialshare {
  flex-direction: row;
}

#email img {
  width: 10vw;
}

.wrapper-video {
  width: 95vw;
}

/* style clips */

#clips {
  height: 60vh;
}

#galerie {
  min-height: 60vh;
}

/* style footer */
footer .titre-white {
  font-size: 8vw;
}

footer p {
  text-align: center;
}

#socialshare img {
  width: 15vw;
}
