h1 {
  font-size: 30vw;
}

.titre-white {
  color: var(--titre-white);
  font-size: 10vw;
  text-transform: uppercase;
}
.titre-black {
  color: var(--titre-black);
  font-size: 10vw;
  text-transform: uppercase;
}

.center {
  flex-direction: column;
}

#presentation-images {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.polaroid img {
  padding: 15px 15px 30px 15px;
}

#socialshare img {
  width: 20vw;
}

#socialshare {
  flex-direction: row;
}

#email img {
  width: 10vw;
}

/* style footer */
footer .titre-white {
  font-size: 8vw;
}

footer p {
  text-align: center;
}

#socialshare img {
  width: 15vw;
}

.splide__arrow {
  font-size: 1rem;
  top: unset;
  bottom: -4rem;
}

.splide__pagination {
  bottom: -2.5rem;
}

#galerie .splide {
  margin-bottom: 20%;
}
#clips .splide {
  margin-bottom: 20%;
}

@media all and (orientation: landscape) {
  .navbar {
    height: 60px;
  }

  .nav-menu {
    top: 30px;
  }

  header {
    margin-top: -60px;
  }

  h1 {
    font-size: 15vw;
  }

  .titre-black {
    font-size: 7vw;
  }

  .titre-white {
    font-size: 7vw;
  }

  #presentation-images {
    flex-direction: row;
  }
}
