@font-face {
  font-family: 'altona';
  src: url(../Fonts/AltonaSans-Regular.ttf);
}
@font-face {
  font-family: 'maverick';
  src: url(../Fonts/MAVERICK.otf);
}
@font-face {
  font-family: 'dreaming';
  src: url(../Fonts/Dreaming-of-Lilian.ttf);
}

@font-face {
  font-family: 'Rallifornia';
  src: url('../Fonts/Rallifornia/Rallifornia.woff') format('woff'),
    url('../Fonts/Rallifornia/Rallifornia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --titre-white: #e7e7e7;
  --titre-black: #090f17;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 99px);
}

body {
  margin: 0; /* marge extérieur */
  box-sizing: border-box;
  font-family: 'altona';
  font-size: 1.4em;
}

h1 {
  font-family: 'Rallifornia';
  color: var(--titre-white);
  font-size: 20em;
  text-align: center;
}

h2 {
  font-family: 'Rallifornia';
}
h3,
h4 {
  font-family: 'altona';
}

p {
  line-height: 1.4em;
}

.titre-white {
  color: var(--titre-white);
  font-size: 5vw;
  text-transform: uppercase;
}
.titre-black {
  color: var(--titre-black);
  font-size: 5vw;
  text-transform: uppercase;
}

.bg-filter {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.column {
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-white {
  color: var(--titre-white);
}

#event {
  min-height: 540px;
  padding-bottom: 5%;
}

#event :nth-child(2) .center {
  margin: 2%;
  text-align: center;
}

#event img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#presentation {
  background: url('../images/back1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#presentation .bg-filter :nth-child(1) {
  text-align: center;
  padding: 0 2%;
}

#presentation .bg-filter :nth-child(2) {
  text-align: center;
  padding: 1% 2%;
}

#presentation img {
  height: 35vh;
}

#galerie {
  min-height: 600px;
  padding-bottom: 5%;
}

.grid-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto 0;
}

.grid-photos picture {
  width: 300px;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-photos picture img {
  width: 100%;
}

#clips {
  background: url('../images/back2.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#clips h3 {
  color: var(--titre-white);
  text-align: center;
}

#clips .slider {
  margin-top: 30px;
}

.wrapper-video {
  width: 50vw;
}

.video-item {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* style for slider */

.slider-item {
  display: none;
}

.slider-item h2 {
  text-align: center;
}

.slider-item.active {
  display: block;
}

.button-next img {
  rotate: 180deg;
  width: 100%;
  height: 100%;
}

.button-next {
  width: 90px;
}

.button-prev {
  width: 90px;
}

.button-next,
.button-prev {
  cursor: pointer;
  display: none;
}

.button-prev img {
  width: 100%;
  height: 100%;
}
.slider {
  justify-content: space-between;
  margin-top: -100px;
}

.slider-item-wrap {
  width: 80vw;
}
