@font-face {
  font-family: "altona";
  src: url(../Fonts/AltonaSans-Regular.ttf) ;
}
@font-face {
  font-family: "maverick";
  src: url(../Fonts/MAVERICK.otf) ;
}
@font-face {
  font-family: "dreaming";
  src: url(../Fonts/Dreaming-of-Lilian.ttf) ;
}

body {
  margin: 0;/* marge extérieur */
  box-sizing: border-box;
  font-family: 'altona';
  font-size: 2em;
}


h1,h2,h3,h4 {
 font-family: "altona";
  
}

#presentation{ 
 display: flex;
 background : url('../images/back2.jpg') no-repeat center;
 background-size: cover;
 align-items: center ;
 height : 100vh;
 width: 100vw;

 
}
#presentation img {
  height: 70vh;
  display: flex;
  justify-items: center; /* ne fonctionne pas!!!! */
}

#clips{
  min-height: 200px;
}

#galerie{
  background : url('../images/back1.jpg') no-repeat center;
  background-size: cover;
  height : 80vh;
  width: 100vw;
}




.centrage{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
}

.haut{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 500px;

}

.aligne{
 display : flex;
 justify-content: center;
 justify-content: space-around; 
}

.colonne{
  display: flex;
  flex-direction: column;
  text-align: center;

}

#galerie img{
  height:200px;
  display: flex;
  justify-content: space-around;
}